{% extends 'base/base.html' %}

{% block header %}

    <!--Loading layer-->
    <div id="loading_layer"></div>
    <script src="/static/js/spin.js"></script>
    <link rel="stylesheet" href="/static/js/loading_layer/loading.css">
    <script type="text/javascript" src="/static/js/loading_layer/loading.js"></script>


{% endblock %}

{% block nav %}

    <li id="chooseMap" data-original-title="Select Map"><a href="#"><span class="glyphicon glyphicon-tower"></span> Select Map</a></li>
     <div id="chooseMap_content_wrapper" style="display: none">

        <p><select id="gameslist" style="width: 100%;">
         <option></option>
            {% for game in games %}
                <option value="opt-{{ game.name|slugify }}">{{ game.name }}</option>
            {% endfor %}
        </select></p>


        <p><select id="mapslist" style="width: 100%;">
            <option></option>
        </select></p>

        <p class="text-right"><span class="glyphicon glyphicon-tower"></span> <a href="#" class="moreMaps">Suggest a map</a></p>

     </div>

    <li id="chooseBrush"  data-original-title="Select Brush"><a href="#"><span class="glyphicon glyphicon-pencil"></span> Select Brush</a></li>
     <div id="chooseBrush_content_wrapper" style="display: none">

         <div class="form-group" id="brushSizeForm">
            <label for="brushSize">Brush Size</label>
            <!--Slider comes here.-->
          </div>


        <div class="btn-group btn-group-justified" style="width: 360px;">
            <a class="btn btn-success green-pick">Green</a>
            <a class="btn btn-warning yellow-pick">Yellow</a>
            <a class="btn btn-danger red-pick">Red</a>
            <a class="btn btn-info blue-pick">Blue</a>
            <a class="btn btn-inverse black-pick">Black</a>
            <a class="btn btn-default eraser">
                <i class="fa fa-eraser"></i>
            </a>
        </div>

     </div>

    <li class="clearCanvas"><a href="#"><span class="glyphicon glyphicon-minus"></span> Clear</a></li>
    <li class="resetCanvas"><a href="#"><span class="glyphicon glyphicon-remove-sign"></span> Reset Map</a></li>
    <li class="saveDrawings"><a href="#"><span class="glyphicon glyphicon-floppy-save"></span> Save</a></li>
    <li><a href="javascript:onLoadClick();"><span class="glyphicon glyphicon-floppy-open"></span> Load</a></li>
    <input type="file" id="input" style="visibility:hidden;position:absolute;top:-50;left:-50">


{% endblock %}

{% block container %}
    <div class="container">

                <canvas id="background" style="z-index: -1 !important;"></canvas>
                <canvas id="sketch" style="z-index: 0 !important;"></canvas>
                <div class="clearfix"></div>


    </div>
    <div class="clearfix"></div>
    <!--Map Opt values-->

    {% for game in games %}
        <div id="opt-{{ game.name|slugify }}" style="display: none;">

            <option></option>

            {% for mode in game.modes %}
                <optgroup label="{{ mode.name }}">
                    {%  for map in mode.maps %}
                        <option value="/media/{{ map.image }}">{{ map.name }}</option>
                    {% endfor %}
                </optgroup>
            {% endfor %}

        </div>

    {% endfor %}

    <!-- Modals -->
    <!-- Modal -->
    <div class="modal fade" id="moreMapsModal" tabindex="-1" role="dialog" aria-labelledby="moreMaps" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <form id="MapRequestForm" action="" method="post" role="form" enctype="multipart/form-data">{% csrf_token %}
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-tower"></span> More Maps</h4>
              </div>
              <div class="modal-body">

                <div class="form-group">
                    <label for="id_nickname">Nickname</label>
                    <input id="id_nickname" maxlength="75" name="nickname" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="id_game">Game *</label>
                    <input id="id_game" maxlength="300" name="game" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="id_gameMode">Game Mode</label>
                    <input id="id_gameMode" maxlength="300" name="gameMode" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="id_map">Map *</label>
                    <input id="id_map" maxlength="300" name="map" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="id_image">Image Link</label>
                    <input id="id_imageurl" maxlength="300" name="imageurl" type="text" class="form-control">
                </div>


              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary submitMapRequestForm">Send Request</button>
              </div>
            </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- scripts -->
    <script src="/static/js/TogetherJSConfig.js"></script>
    <script src="https://togetherjs.com/togetherjs-min.js"></script>

    <script src="/static/js/fabricjs.js"></script>

    <script src="/static/js/tacsketch.js"></script>
    <link rel="stylesheet" href="/static/css/dock.css">

    <!-- Select2 -->
    <link href="/static/js/select2/select2.css" rel="stylesheet"/>
    <script src="/static/js/select2/select2.js"></script>

    <!--Slider-->
    <link href="/static/js/slider/slider.css" rel="stylesheet"/>
    <script src="/static/js/slider/slider.js"></script>

    <!--Close loading layer-->
    <script type="text/javascript" src="/static/js/loading_layer/closeLoading.js"></script>


{% endblock %}


