{% extends 'base/base.html' %}

{% block header %}

    <!--Loading layer-->
    <div id="loading_layer"></div>
    <script src="/static/js/spin.js"></script>
    <script type="text/javascript">
        var loggedIn = "";
    </script>
    <link rel="stylesheet" href="/static/js/loading_layer/loading.css">
    <script type="text/javascript" src="/static/js/loading_layer/loading.js"></script>

    <link rel="stylesheet" href="/static/css/dock.css">

    <script type="text/javascript"> 
        var csrf_token = "{{ csrf_token }}";
    </script>


{% endblock %}

{% block nav %}

    {% include "tacsketch/content/nav.html" %}

{% endblock %}

{% block container %}
    <div class="container">
        <canvas id="background" style="z-index: -1 !important;"></canvas>
        <canvas id="fabric" style="z-index: 1 !important;"></canvas>
        <canvas id="sketch" style="z-index: 0 !important; border: 1px solid grey;"></canvas>
    </div>


    {% include "tacsketch/content/mapselector.html" %}

    {% include "tacsketch/content/modals.html" %}

    <input type="file" id="loadMapScaleInput" style="visibility:hidden;position:absolute;top:-50;left:-50">
    <input type="file" id="loadMapNoScaleInput" style="visibility:hidden;position:absolute;top:-50;left:-50">
    <input type="file" id="loadDrawingsInput" style="visibility:hidden;position:absolute;top:-50;left:-50">

    <!-- scripts -->
    <script src="/static/js/auth.js"></script>

    <!-- fabric.js -->
    <script src="/static/js/fabric.min.js"></script>

    <!-- TogetherJS -->
    <link rel="stylesheet" href="/static/css/dock.css">
    <script src="/static/js/TogetherJSConfig.js"></script>
    {% if debug %}
        <script>
            TogetherJSConfig_debug = true;
            TogetherJSConfig_ignoreMessages = ["cursor-update", "keydown", "scroll-update", "app.draw"];
        </script>
        <script src="/static/js/togetherjs-min-local.js"></script>
    {% else %}
        <script>
            TogetherJSConfig_debug = false;
        </script>
        <script src="/static/js/togetherjs-min.js"></script>
    {% endif %}

    <!-- Mouse Weel Plugin -->
    <script src="/static/js/jquery.mouseweel.js"></script>

    <!-- Select2 -->
    <link href="/static/js/select2/select2.css" rel="stylesheet"/>
    <script src="/static/js/select2/select2.js"></script>
    <script src="/static/js/icons.js"></script>

    <!--Slider-->
    <link href="/static/js/slider/slider.css" rel="stylesheet"/>
    <script src="/static/js/slider/slider.js"></script>

    <!-- scripts -->
    <script src="/static/js/tacsketch.js"></script>
    <script src="/static/js/tacquery.js"></script>
    <script src="/static/js/tgjslisteners.js"></script>
    <script src="/static/js/local-save.js"></script>

{% endblock %}


{% block iconbar %}

    {% include "tacsketch/content/sidebar.html" %}

{% endblock %}
