{% extends "base/base.html" %}

{% block nav %}
    <li class="mobile-hide"><a href="/tacsketch"><span class="glyphicon glyphicon-pencil"></span> Tacsketch</a></li>
{% endblock %}

{% block container %}

        <div class="container">
          <div class="jumbotron">
            <div class="row">
              <div class="col-md-offset-2 col-md-8">
                <h3>About:</h3>
                <p>Tacnet was created by two computer science students with the intention of making it easier to plan tactics ahead of matches in different competitive games. If you want to contribute or just check out the code, feel free to fork our repo over at GitHub.</p>
              </div>
            </div>
            <div class="row" style="margin-bottom: -40px;">
            <iframe src="http://ghbtns.com/github-btn.html?user=Tacnet&repo=Tacnet&type=watch"
            allowtransparency="true" frameborder="0" scrolling="0" width="55" height="20"></iframe>
            <iframe src="http://ghbtns.com/github-btn.html?user=Tacnet&repo=Tacnet&type=fork"
            allowtransparency="true" frameborder="0" scrolling="0" width="55" height="20"></iframe>
            <a href="https://twitter.com/ekmartinb" class="twitter-follow-button" data-show-count="false">Follow @ekmartinb</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            <a href="https://twitter.com/eirsyl" class="twitter-follow-button" data-show-count="false">Follow @eirsyl</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
          </div>
        </div>

    <script src="/static/js/auth.js"></script>
{% endblock %}
