{% extends "base/base.html" %}

{% block container %}

        <div class="container">
            <div class="row">
                <div class="col-md-12">

                     <div class="jumbotron">
                        <p class="lead">Collaborate with your team and create tactics in your favorite game - no installation, no registration, no hassle.</p>
                        <p><a href="tacsketch" class="btn btn-lg btn-success mobile-hide">Get Started</a></p>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">

        <div class="row">
          <div class="col-sm-6 col-md-4">

              <img src="/static/img/feature1.jpg" class="img-thumbnail">
              <div class="caption">
                <h3><span class="glyphicon glyphicon-tower"></span> Many available maps</h3>
                <p>Many maps has already been added. More comes. Send us a request if you need a map.</p>
              </div>

          </div>
          <div class="col-sm-6 col-md-4">
              <img src="/static/img/feature2.jpg" class="img-thumbnail">
              <div class="caption">
                <h3><span class="glyphicon glyphicon-pencil"></span> Choose different brushes</h3>
                <p>You can change brush size and color. A icon-drag-and-drop is under development.</p>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <img src="/static/img/feature3.jpg" class="img-thumbnail">
              <div class="caption">
                <h3><span class="glyphicon glyphicon-indent-left"></span> Under development</h3>
                <p>Tacnet.io is under development. This can lead to instability and failure. We will always try to have the latest version available here. We have many plans for the application, this includes:</p>
                <ul>
                    <li>Drag and drop icons</li>
                    <li>Export map as image</li>
                    <li>Save and load groups of tactics</li>
                    <li>Undo button</li>
                    <li>User restrictions</li>
                </ul>
              </div>
          </div>
        </div>

        </div>

{% endblock %}