{% include "base/base.html" %}

{% block content %}

        <div class="container">
          <div class="navbar navbar-default">
            <div class="navbar-header">
              <a class="navbar-brand" href="index.html">Tac.net</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="contact">Contact</a></li>
              </ul>
            </div>
          </div>

            <div class="jumbotron">
                <p class="lead">Collaborate with your team and create tactics in your favorite game - no installation, no registration, no hassle.</p>
                <p><a href="tacsketch" class="btn btn-lg btn-success">Get Started</a></p>
            </div>
        </div>

{% endblock %}