{% extends "base/base.html" %}

{% block nav %}
    <li class="mobile-hide"><a href="/tacsketch"><span class="glyphicon glyphicon-pencil"></span> Tacsketch</a></li>
{% endblock %}

{% block container %}


    <div class="container mobile-hide">

      <div class="well">
        <div class="col-lg-8 col-md-8">
          <h4>Collaborate with your team and create tactics in your favorite game!</h4>
        </div>
        <div class="col-lg-4 col-md-4">
          <a class="btn btn-lg btn-success pull-right" href="/tacsketch"><span class="glyphicon glyphicon-arrow-right"></span> Get Started</a>
        </div>
          <div class="clearfix"></div>
      </div>
    </div>

        <div class="container">

        <div class="row">
          <div class="col-sm-6 col-md-4">

              <img src="/static/img/feature1.jpg" class="img-thumbnail">
              <div class="caption">
                <h3><span class="glyphicon glyphicon-tower"></span> Maps</h3>
                <p>We're always adding the maps suggested by our users, and eventually we aim to cover as many games as possible. </p>
              </div>

          </div>
          <div class="col-sm-6 col-md-4">
              <img src="/static/img/feature2.jpg" class="img-thumbnail">
              <div class="caption">
                <h3><span class="glyphicon glyphicon-pencil"></span> Customization</h3>
                <p>Current customization includes changing brush settings, avatars, ping colors and so on. Eventually Tacnet will support a fully flegded drag and drop system for icons, which now is in development.</p>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <img src="/static/img/feature3.jpg" class="img-thumbnail">
              <div class="caption">
                <h3><span class="glyphicon glyphicon-list"></span> Blog</h3>
                <ul>
                    {% for post in posts %}
                    <li><a href="/blog/{{ post.id }}">{{ post.title }} ({{ post.postDate }})</a></li>
                    {% endfor %}
                </ul>
              </div>
          </div>
        </div>

        </div>

{% endblock %}