{% extends "base/base.html" %}

{% block nav %}
    <li class="mobile-hide"><a href="/tacsketch"><span class="glyphicon glyphicon-pencil"></span> Tacsketch</a></li>
{% endblock %}

{% block container %}

        <div class="container">
          <div class="jumbotron">
            <div class="row">
              <div class="col-md-12">
                <h2><i class="fa fa-check"></i> Thank you for your donation!</h2>
              </div>
            </div>
          </div>
        </div>

    <script src="/static/js/auth.js"></script>
{% endblock %}