node_modules
dist
.tmp
.sass-cache
app/bower_components
.DS_Store
venv
*.pyc
*.!sync
.idea
tacnet.db
passwords
files
scripts/iconcreator/input
scripts/iconcreator/output
logs
twitter_config.py
local.py
.coverage
.tox/
coverage.xml
