body {
padding: 30px;
}

.navbar {
margin-bottom: 30px;
}

.golive
{
	margin-top: 0.7%;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
}
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
	font-size: 40px;
	padding: 14px 48px;
}

.drawotron {

  font-size: 22.5px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #ecf0f1;
}



.container .drawotron {
  border-radius: 6px;
}

