{% extends "base/base.html" %}

{% block nav %}
    <li class="mobile-hide"><a href="/tacsketch"><span class="glyphicon glyphicon-pencil"></span> Tacsketch</a></li>
{% endblock %}

{% block container %}


    <div class="container mobile-hide">

      <div class="well">
        <div class="col-lg-8 col-md-8">
          <h4>Collaborate with your team and create tactics in your favorite game!</h4>
        </div>
        <div class="col-lg-4 col-md-4">
          <a class="btn btn-lg btn-success pull-right" href="/tacsketch"><span class="glyphicon glyphicon-arrow-right"></span> Get Started</a>
        </div>
          <div class="clearfix"></div>
      </div>
    </div>

        <div class="container">

        <div class="row">

           <div class="col-xs-6 col-sm-6 col-md-3">
              <img src="/static/img/1.jpg" class="img-thumbnail">
              <div class="caption">
                <h3><span class="glyphicon glyphicon-tower"></span> Maps</h3>
                <p>We're always adding the maps suggested by our users, and aim to cover as many games as possible. </p>
              </div>
          </div>

          <div class="col-xs-6 col-sm-6 col-md-3">
              <img src="/static/img/2.jpg" class="img-thumbnail">
              <div class="caption">
                <h3><i class="fa fa-arrows"></i> Movable Icons</h3>
                <p>Use a wide array of game icons to illustrate everything from vehicles to players. Contact us through the Feedback-button to send us icon requests.</p>
              </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3">
              <img src="/static/img/3.jpg" class="img-thumbnail">
              <div class="caption">
                <h3><i class="fa fa-cloud"></i> Tactic Storage</h3>
                <p>Instead of having to redraw your tactics every time you need them, Tacnet lets you save your tactics both on our server and locally, allowing for easy retrieval.</p>
              </div>
          </div>

          <div class="col-xs-6 col-sm-6 col-md-3">
              <img src="/static/img/4.jpg" class="img-thumbnail">
              <div class="caption">
                <h3><i class="fa fa-minus-circle"></i> Access Control</h3>
                <p>Take control of your sessions as a host by selecting who can and can't draw, change maps, add icons and so on.</p>
              </div>
          </div>

        </div>

        </div>

{% endblock %}