body {
margin-top: 45px;
}

canvas {
    position: absolute;
}

.canvas-container {
  position: absolute !important;
}

.navbar {
margin-bottom: 30px;
}

.nav.nav-center {
	margin:0;
	float:none;
}
.nav-center {
	text-align:center;
}

.navbar-brand {
    color: #FFF !important;
}

#brushSizeForm {
  display: inline-block;
  float: left;
  width: 214px;
}

#setAlphaForm {
  display: inline-block;
  float: right;
  width: 214px;
}

.jumbotron {
  text-align: center;
}

.jumbotron .btn {
	font-size: 40px;
	padding: 14px 48px;
}

.drawotron {
  font-size: 22.5px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #ecf0f1;
}

.container .drawotron {
  border-radius: 6px;
}

.btn-green {
  color: #ffffff;
  background-color: #00ff00;
  border-color: #00ff00;
}

.btn-blue {
  color: #ffffff;
  background-color: #0000ff;
  border-color: #0000ff;
}

.btn-red {
  color: #ffffff;
  background-color: #ff0000;
  border-color: #ff0000;
}

.btn-yellow {
  color: #ffffff;
  background-color: #ff0;
  border-color: #ff0;
}

/* Map Selector */
.smallPopover {
  max-width: 500px !important;
  width: 395px;
}

.largePopover {
  max-width: 570px !important;
  width: 470px;
}

/* Remove select color */
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* Show Search text */
select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .form-control {
  color: black !important;
}

/* Hide mobile elements on site */
.mobile-show {
  display: none;
}


.right-text {
  margin-top: 30px;
}

.post {
  margin-bottom: 20px;
}
.intro-text {
  margin-top: 20px;
}

#body_content {
  min-height: 500px;
}

.modal-dialog {

    padding-top: 60px !important;

}
