<!DOCTYPE html>
<html>
  <head>
    <title>Tacnet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/static/img/icons/favicon.ico">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-slate.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">

    <!--JS-->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>


        <div class="container">


        <nav class="navbar navbar-default" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-eye-open"></span> Tac.net</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="visible-lg visible-md"><a href="/">Home</a></li>
                <li class="visible-lg visible-md"><a href="/frontpage/about">About</a></li>
                <li class="visible-lg visible-md"><a href="/frontpage/contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% block nav %}{% endblock %}
            </ul>
          </div>
        </nav>

        </div>


        {% block container %}{% endblock %}


    <script src="/static/js/googleanalytics.js"></script>
  </body>
</html>