<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Tacnet</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="shortcut icon" href="/static/img/icons/favicon.ico">


        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/bootstrap-slate.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/main.css">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="/static/js/googleanalytics.js"></script>


    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container">
            <div class="navbar navbar-default">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">Tac.net</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/frontpage/about">About</a></li>
                <li><a href="/frontpage/contact">Contact</a></li>
              </ul>

              <ul class="nav navbar-nav navbar-right">


             {% block nav %}{% endblock %}

              </ul>

            </div>
          </div>
        </div>

        {% block container %}{% endblock %}

</body>
</html>
