{% block messages %}

    <!--JS alert-->
    <noscript>
    <div class="container">
        <div class="alert alert-danger" style="color: darkred !important;">
            <strong>Error!</strong> This website relies on javascript. Please enable javascript in your browser.
        </div>
    </div>
    </noscript>


    <!-- Mobile user --->
    <div class="container mobile-show">
        <div class="alert alert-warning" style="color: #000000 !important;">
            <strong>Warning!</strong> Tacnet does not currently support mobile devices. The sketch site is disabled.
        </div>
    </div>

    <div class="container messages-container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissable {% if message.tags %}{{ message.tags }}{% endif %}">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>
                        {% if message.tags == 'alert-success' %}
                            Success!
                        {% elif message.tags == 'alert-info' %}
                            Information!
                        {% elif message.tags == 'alert-warning' %}
                            Warning!
                        {% elif message.tags == 'alert-danger' %}
                            Error!
                        {% endif %}
                    </strong> {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}