{% extends "base/base.html" %}

{% block nav %}
    <li class="mobile-hide"><a href="/tacsketch"><span class="glyphicon glyphicon-pencil"></span> Tacsketch</a></li>
{% endblock %}

{% block container %}

        <div class="container">

            <div class="row">

                <div class="col-md-6"><h2>Posts</h2></div>
                <div class="col-md-6 text-right right-text"><p>{{ posts|length }} posts</p></div>


            </div>
            <hr/>

            {% if posts|length == 0 %}

                 <div class="row post">
                <div class="col-md-12 text-center">
                    <h4>No posts</h4>
                </div>
                </div>

            {% endif %}

            {% for post in posts %}

            <div class="row post">
                <div class="col-md-4">
                    <a href="/blog/{{ post.id }}"><img class="img-polaroid img-thumbnail" src="/media/{{ post.postImage }}"></a>
                </div>
                <div class="col-md-8">
                    <a href="/blog/{{ post.id }}"><h4>{{ post.title }} <small><i>{{ post.postDate }}</i></small></h4></a>
                    <p><b><i>{{ post.intro|safe }}</i></b></p>
                </div>
            </div>

            {% endfor %}

        </div>

{% endblock %}