{% extends "base/base.html" %}

{% block nav %}
    <li class="mobile-hide"><a href="/tacsketch"><span class="glyphicon glyphicon-pencil"></span> Tacsketch</a></li>
{% endblock %}

{% block container %}

        <div class="container">

            <div class="row">

                <div class="col-md-9"><h2>{{ post.title }}</h2></div>
                <div class="col-md-3 text-right right-text"><p>{{ post.author.first_name }} {{ post.author.last_name }} / {{ post.postDate }}</p></div>


            </div>
            <hr/>
            
            <div class="row post">
                <div class="col-md-4">
                    <img src="../media/{{ post.postImage }}" class="img-thumbnail img-polaroid">
                    <div class="intro-text"><b><i>{{ post.intro|safe }}</i></b></div>
                </div>
                <div class="col-md-8">
                    {{ post.text|safe }}
                </div>
            </div>



        </div>

{% endblock %}