#togetherjs-dock {
    /*height: 320px !important;*/
}
#togetherjs-dock, .togetherjs .togetherjs-window > header, .togetherjs .togetherjs-modal > header {
    /*background-color: #474747 !important;

    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#484e55), color-stop(60%, #3a3f44), to(#313539)) !important;
    background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539) !important;
    background-image: -moz-linear-gradient(top, #484e55, #3a3f44 60%, #313539) !important;
    background-image: linear-gradient(#484e55, #3a3f44 60%, #313539) !important;*/

    background-color: #333333 !important;

}

.togetherjs .togetherjs-window header button.togetherjs-close, .togetherjs .togetherjs-modal header button.togetherjs-close {
    border-left: 1px solid #000000 !important;
}

.togetherjs .togetherjs-subtitle {
    /*background-color: #474747 !important;

    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#484e55), color-stop(60%, #3a3f44), to(#313539)) !important;
    background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539) !important;
    background-image: -moz-linear-gradient(top, #484e55, #3a3f44 60%, #313539) !important;
    background-image: linear-gradient(#484e55, #3a3f44 60%, #313539) !important;*/

    background-color: #333333 !important;
}

.togetherjs .togetherjs-window > header {
    border-bottom-color: #000000 !important;
}

.togetherjs #togetherjs-buttons .togetherjs-button:hover {
    background-color: #444444 !important;
}

.togetherjs #togetherjs-buttons #togetherjs-share-button.togetherjs-active, .togetherjs #togetherjs-buttons #togetherjs-audio-button.togetherjs-active, .togetherjs #togetherjs-buttons #togetherjs-chat-button.togetherjs-active, .togetherjs #togetherjs-dock-participants button.togetherjs-active {
    background-color: #707070 !important;
}

#togetherjs-menu-feedback, #togetherjs-menu-help, #togetherjs-menu-end {
    display: none !important;
}

.togetherjs-primary {
    background: #233D49 !important;
}

.togetherjs-primary:hover {
    background: #025A84 !important;
}

#togetherjs-dock.togetherjs-dock-right {
    top: 120px !important;
    right: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.togetherjs-button {
    color: #838383 !important;
}
.togetherjs-button:hover {
    color: #FFF !important;
}

#togetherjs-dock-anchor {
    display: none;
}

/* Hide footer */
.footer {
    display: none;
}


/* Custom Dock */
#sidebar {
    position: fixed;
    top: 120px;
    left: 0px;
    z-index: 10;
}

#sidebar .dock {
    background-color: rgb(51, 51, 51);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.498039) 2px 4px 2px 0px;
    float: right;
    border-left: 1px solid rgba(0, 0, 0, 0.498039);
}

#sidebar .dock .button-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#sidebar .dock .button-list li {
    width: 60px;
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 20px;
    padding-top: 17px;
    color: #838383;
}

#sidebar .dock .button-list li:hover {
    background-color: #444444;
    color: #FFF;
}

#sidebar .dock .button-list li i {
    margin: auto;
}

#sidebar .dock .button-list li:last-child {
    border-bottom: none;
}

#sidebar .bar-element {
    width: 250px;
    height: 365px;
    float: left;
    background-color: rgb(51, 51, 51);
    border-bottom-right-radius: 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.498039) 2px 4px 2px 0px;
    padding: 10px 10px;
    display: none;
}
#sidebar .bar-element h5, #sidebar .bar-element hr {
    margin: 0px;
    padding: 0px;
}

#sidebar .bar-element hr {
    padding-top: 10px;
    margin-bottom: 10px;
}

#sidebar .bar-element .scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 190px;
    background-color: #1b1c1e;
    padding: 5px;
}

#sidebar .bar-element .row .icon {
    padding: 2px;
}

#sidebar .bar-element .row .icon:hover img {
    background-color: #808080;
    border-color: #808080;
}

#sidebar .bar-element .row.icon-holder, #sidebar .bar-element .row.genric-icon-holder  {
    padding-left: 15px;
    padding-right: 15px;
}

#sidebar #iconsearch {
    background-color: #FFF;
    color: #000;
}

.load_tac_cloud {
    display: none
}

.restrict-scroll {
    overflow-x: hidden;
    height: 310px;
}

#icon-picker {
    height: 490px !important;
}

.generic-icons {
    overflow-y: hidden;
    overflow-x: scroll;
    height: 60px;
    background-color: #1b1c1e;
    padding: 5px;
    white-space: nowrap;
    margin-top: 5px;
}

.generic-icons .icon {
    width: 55px;
    height: 55px;
    display: inline-block;
    white-space: normal;
}

.generic-icons .icon:first-child {
    margin-left: 10px;
}

#sidebar .element-separator {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #000;
    margin-top: 15px;
}

#sidebar .generic-color {
    height: 30px;
}

#sidebar .btn-group {
    margin-top: 15px;
}

.btn.generic-black {
    background-color: #000 !important;
}

.btn.generic-white {
    background-color: #FFF !important;
}

