<li id="chooseBrush" data-original-title="Select Brush"><a href="#"><span class="glyphicon glyphicon-pencil"></span> Select Brush</a></li>
    <div id="chooseBrush_content_wrapper" style="display: none;">
         <div class="form-group" style="height: 46px; margin-bottom: 5px;">
            <div id="brushSizeForm">
                <label for="brushSize">Brush Size</label><br>
            </div>
            <div id="setAlphaForm">
                <label for="setAlpha">Opacity</label><br>
            </div>
          </div>

        <div class="btn-group btn-group-justified" style="width: 438px;">
            <a class="btn btn-success green-pick brush">Green</a>
            <a class="btn btn-warning yellow-pick brush">Yellow</a>
            <a class="btn btn-danger red-pick brush">Red</a>
            <a class="btn btn-info blue-pick brush">Blue</a>
            <a class="btn btn-inverse black-pick brush">Black</a>
        </div>

        <div class="btn-group btn-group-justified" style="width: 438px; margin-top: 10px;">
            <a class="btn btn-primary user-color-pick brush">User Color</a>
            <a class="btn btn-default eraser brush"><i class="fa fa-eraser"></i></a>
            <a class="btn btn-primary toggleTrailing"><i class="fa fa-chain"></i> Icon Trailing</a>
        </div>
    </div>
</li>

<li id="clearMenu" data-original-title="Clear"><a href="#"><span class="glyphicon glyphicon-remove-sign"></span> Clear</a></li>
 <div id="clearMenu_content_wrapper" style="display: none">
    <button class="btn btn-default clearCanvas" style="width: 360px;">Clear Drawings</button>

    <div class="btn-group btn-group-justified" style="width: 360px; margin-top: 10px;">
        <a class="btn btn-warning resetFabric">Reset Icons</a>
        <a class="btn btn-danger resetBackground">Reset Background</a>
    </div>

    </div>
</li>

<li class="undo"><a href="#"><i class="fa fa-undo"></i> Undo</a></li>
<li class="redo"><a href="#"><i class="fa fa-repeat"></i> Redo</a></li>
<li class="deleteIcon"><a href="#"><span class="glyphicon glyphicon-trash"></span> Delete</a></li>