   <div id="sidebar">
    <div id="select-map" class="bar-element">
         <div class="row">
            <div class="col-xs-12"><h5><i class="fa fa-gamepad"></i> Maps</h5><hr/></div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <p><select id="gameslist" style="width: 100%;">
                <option></option>
                {% for game in games %}
                    <option value="opt-{{ game.name|slugify }}">{{ game.name }}</option>
                {% endfor %}
                </select></p>


                <p><select id="mapslist" style="width: 100%;">
                    <option></option>
                </select></p>

                <p class="text-right" style="margin-top: 10px; text-align: center; font-size: 20px;"><i class="fa fa-gamepad"></i> <a href="#" class="moreMaps">Suggest a map</a></p>
                <p style="margin-top: 10px; font-size: 15px;">We try to support as many games as possible. If you've got any additional suggestions, feel free to contact us through the form below.</p>
                <div style="margin-top: 50px;">
                    <a href="#" type="button" id="loadMapButton" class="btn btn-block btn-default btn-success"><span class="glyphicon glyphicon-floppy-open"></span> Load Custom Map</a>
                    <div id="loadMapScaleDiv" class="btn-group btn-group-justified" style="display: none;">
                        <a href="#" id="loadMapScale" class="btn btn-success loadMapFromPath"><i class="fa fa-compress"></i> Scaled</a>
                        <a href="#" id="loadMapNoScale" class="btn btn-danger loadMapFromPath"><i class="fa fa-expand"></i> Original</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="icon-picker" class="bar-element">

        <div class="row">

            <div class="col-xs-12"><h5><i class="fa fa-flag"></i> Icons</h5><hr/></div>

        </div>

        <div class="row">

            <div class="col-xs-12">

                <p><input type="text" id="iconsearch" class="form-control input-sm" placeholder="Search.."></p>

                <p><select id="gamesearch" style="width: 100%;">
                 <option value="">All Games</option>
                </select></p>

            </div>

        </div>

        <div class="scrollable">

        <div class="row icon-holder">


        </div>

        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="element-separator"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group btn-group-justified">
                    <a class="btn btn-success generic-color generic-green"></a>
                    <a class="btn btn-warning generic-color generic-yellow"></a>
                    <a class="btn btn-danger generic-color generic-red"></a>
                    <a class="btn btn-info generic-color generic-blue"></a>
                    <a class="btn generic-color generic-black"></a>
                    <a class="btn generic-color generic-white"></a>
                </div>
            </div>
        </div>

        <div class="generic-icons">

            <div class="row generic-icon-holder">

                <div name="Circle" class="circleFilled icon"><a href="#" title="" rel="tooltip" data-placement="bottom" data-toggle="tooltip" data-original-title="Circle"><img src="/static/img/fabric/circle.png" class="img-thumbnail"></a></div>
                <div name="Rectangle" class="rectFilled icon"><a href="#" title="" rel="tooltip" data-placement="bottom" data-toggle="tooltip" data-original-title="Rectangle"><img src="/static/img/fabric/rect.png" class="img-thumbnail"></a></div>
                <div name="Triangle" class="triangleFilled icon"><a href="#" title="" rel="tooltip" data-placement="bottom" data-toggle="tooltip" data-original-title="Triangle"><img src="/static/img/fabric/triangle.png" class="img-thumbnail"></a></div>
                <div name="Circle Strole" class="circle icon"><a href="#" title="" rel="tooltip" data-placement="bottom" data-toggle="tooltip" data-original-title="Circle Stroke"><img src="/static/img/fabric/circle_stroke.png" class="img-thumbnail"></a></div>
                <div name="Rectangle Stroke" class="rect icon"><a href="#" title="" rel="tooltip" data-placement="bottom" data-toggle="tooltip" data-original-title="Rectangle Stroke"><img src="/static/img/fabric/rect_stroke.png" class="img-thumbnail"></a></div>
                <div name="Triangle Stroke" class="triangle icon"><a href="#" title="" rel="tooltip" data-placement="bottom" data-toggle="tooltip" data-original-title="Triangle Stroke"><img src="/static/img/fabric/triangle_stroke.png" class="img-thumbnail"></a></div>
                <div name="Numbers" class="number icon"><a href="#" title="" rel="tooltip" data-placement="bottom" data-toggle="tooltip" data-original-title="Numbers"><img src="/static/img/fabric/numbers.png" class="img-thumbnail"></a></div>
                <div name="Reset Numbers" class="resetNumbers icon"><a href="#" title="" rel="tooltip" data-placement="bottom" data-toggle="tooltip" data-original-title="Reset Numbers"><img src="/static/img/fabric/reset_numbers.png" class="img-thumbnail"></a></div>

            </div>

        </div>

        <div class="row">
            <div class="col-xs-12">
                <a href="#" type="button" class="btn btn-primary addText" style="width: 230px; margin-top: 6px; margin-right: 10px;"><i class="fa fa-font"></i> Add Text</a>
            </div>
        </div>

    </div>

    <div id="cloud-menu" class="bar-element">
        <div class="row">
            <div class="col-xs-12"><h5><i class="fa fa-flag"></i> Cloud Save</h5><hr/></div>
        </div>

        <div class="row" id="save-cloud">
            <div class="col-xs-12">
                <h5 style="text-align: center; margin-top: 25px;">Tactic Name:</h5>
                <input type="text" class="form-control tacticName" style="margin-top: 20px; height: 50px; color: #FFF !important; font-size: 24px !important;" placeholder="Enter tactic name..">

                <p style="margin-top: 20px;">Note that you need to be logged in to cloud save tactics.</p>

                <div class="btn-group btn-group-justified" style="margin-top: 40px;">
                    <a class="btn btn-success cloudSave" style="padding: 10px 10px; font-size: 20px;"><span class="glyphicon glyphicon-cloud-upload"></span> Save</a>
                    <a class="btn btn-info select-cloud-load" style="padding: 10px 10px; font-size: 20px;"><span class="glyphicon glyphicon-cloud-download"></span> Load</a>
                </div>
            </div>
        </div>
    </div>

    <div id="save-menu" class="bar-element">
        <div class="row">
            <div class="col-xs-12"><h5><i class="fa fa-flag"></i> Save/Load</h5><hr/></div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h5 style="text-align: center;">Tactics:</h5>
                <div class="btn-group btn-group-justified" style="width: 230px; margin-top: 20px; margin-right: 10px;">

                    <a href="#" type="button" class="btn btn-info" id="saveLocal"><span class="glyphicon glyphicon-floppy-save"></span> Save</a>
                    <a href="#" type="button" class="btn btn-default" id="loadLocal"><span class="glyphicon glyphicon-floppy-open"></span> Load</a>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h5 style="text-align: center; margin-top: 30px;">Screenshot:</h5>
                <a href="#" type="button" class="btn btn-success saveScreenshot" style="width: 230px; margin-top: 20px; margin-right: 10px;"><i class="fa fa-camera"></i></a>
                <p style="margin-top: 20px; font-size: 15px;">Screenshots are just images and cannot be loaded. </p>
            </div>
        </div>
    </div>

    <div id="restrictions-menu" class="bar-element">
        <div class="row">
            <div class="col-xs-12"><h5><i class="fa fa-minus-circle"></i> Access Control</h5><hr/></div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="restrict-scroll">
                    <table id="peerList" class="table table-curved">
                        <thead>
                            <tr>
                                <th>Nickname</th>
                                <th>Rights</th>
                            </tr>
                        </thead>
                        <tbody id="peerBody"></tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>

    <div class="dock">

        <ul class="button-list">

            <li class="icon-button select-map" data-toggle="tooltip" data-placement="right" title="Select Map" rel="tooltip"><i class="fa fa-gamepad"></i></li>
            <li class="icon-button select-icon" data-toggle="tooltip" data-placement="right" title="Icons" rel="tooltip"><i class="fa fa-flag"></i></li>
            <li class="icon-button select-restrictions" data-toggle="tooltip" data-placement="right" title="Restrictions" rel="tooltip"><i class="fa fa-users"></i></li>
            <li class="icon-button select-cloud-save" data-toggle="tooltip" data-placement="right" title="Cloud Saving" rel="tooltip"><span class="glyphicon glyphicon-cloud"></span></li>
            <li class="icon-button select-save" data-toggle="tooltip" data-placement="right" title="Save Drawings" rel="tooltip"><span class="glyphicon glyphicon-floppy-disk"></span></li>

        </ul>

    </div>

</div>